---
import {Image} from 'astro:assets';
import logo_3fs from '../assets/icons/3fs.svg'
import logo_AP from "../assets/icons/apple-podcast-logo-ng.png"
import logo_DI from '../assets/icons/icons8-discord-144.png'
import logo_FB from '../assets/icons/icon-facebook.png'
import logo_IG from '../assets/icons/instagram_icon.png'
import logo_LI from '../assets/icons/linkedin_new_2.png'
import logo_PA from '../assets/icons/PATREON_SYMBOL_1_WHITE_RGB.png'
import logo_Spotify from '../assets/icons/icons8-spotify-144.png'
import logo_TT from '../assets/icons/icon-tiktok.png'
import logo_X from '../assets/icons/x-logo-white.png'
import logo_YT from "../assets/icons/icons8-youtube-144.png"
import logo_humanfrog from '../assets/icons/HF_rokca.svg'
import logo_kaldi from '../assets/icons/kaldi-logo-symbol.svg'
import logo_koofr from '../assets/icons/koofr_512px.png'
import logo_muzej from '../assets/icons/racunalniski-muzej-square.jpg'
import logo_visionect from '../assets/icons/Visionect_logo-icon_green@3x.png'
const logoW: number = 100;
const logoH: number = logoW;
---
<div class="channels">
  <ul>
    <li class="p-label">Kanali</li>
    <li><a href="https://youtube.com/@ogrodje" target="_blank">
      <Image src={logo_YT} alt="Ogrodje @ YouTube" width={logoW} height={logoH} loading="eager"/>
      YouTube</a></li>
    <li><a href="https://podcasts.apple.com/us/podcast/ogrodje/id1623611047" target="_blank">
      <Image src={logo_AP} alt="Ogrodje @ Apple Podcasts" width={logoW} height={logoH} loading="eager"/>
      Apple Podcasts</a></li>
    <li><a href="https://open.spotify.com/show/5fppuIAVBmockauYIXDIIn" target="_blank">
      <Image src={logo_Spotify} alt="Ogrodje @ Spotify" width={logoW} height={logoH} loading="eager"/>
      Spotify</a></li>
  </ul>
  <ul>
    <li class="p-label">Skupnost</li>
    <li><a href="https://bit.ly/discord-ogrodje" class="discord">
      <Image src={logo_DI} alt="Ogrodje @ Discord" width={logoW} height={logoH} loading="eager"/>
      Discord</a></li>
    <li><a href="https://www.patreon.com/ogrodje">
      <Image src={logo_PA} alt="Ogrodje @ Patreon" width={logoW} height={logoH} loading="eager"/>
      Patreon</a>
    </li>
  </ul>
  <ul>
    <li class="p-label">Feed</li>
    <li><a href="https://www.linkedin.com/company/ogrodje/">
      <Image src={logo_LI} alt="Ogrodje @ LinkedIn" width={logoW} height={logoH} loading="eager"/>
      LinkedIn</a>
    </li>
    <li><a href="https://www.instagram.com/ogrodje/">
      <Image src={logo_IG} alt="Ogrodje @ Instagram" width={logoW} height={logoH} loading="eager"/>
      Instagram</a></li>
    <li><a href="https://www.facebook.com/ogrodje">
      <Image src={logo_FB} alt="Ogrodje @ Facebook" width={logoW} height={logoH} loading="eager"/>
      Facebook</a>
    </li>
    <li><a href="https://x.com/search?q=%23ogrodje">
      <Image src={logo_X} alt="#Ogrodje @ X" width={logoW} height={logoH} loading="eager"/>
      #ogrodje</a></li>
    <li><a href="https://www.tiktok.com/@ogrodje_podcast">
      <Image src={logo_TT} alt="Ogrodje @ TikTok" width={logoW} height={logoH} loading="eager"/>
      TikTok</a></li>
  </ul>
  <ul>
    <li class="p-label p-and-p">
      <div class="p-and-p-inner">Podporniki & Partnerji</div>
    </li>
    <li><a href="https://www.humanfrog.com" target="_blank">
      <Image src={logo_humanfrog} alt="Humanfrog" width={logoW} height={logoH} loading="eager"/>
      Humanfrog</a></li>
    <li><a href="https://kaldi.si" target="_blank">
      <Image src={logo_kaldi} alt="Kaldi" width={logoW} height={logoH} loading="eager"/>
      Kaldi
    </a></li>
    <li><a href="https://www.visionect.com" target="_blank">
      <Image src={logo_visionect} alt="Visionect" width={logoW} height={logoH} loading="eager"/>
      Visionect
    </a></li>
    <li><a href="https://koofr.eu" target="_blank">
      <Image src={logo_koofr} alt="Koofr" width={logoW} height={logoH} loading="eager"/>
      Koofr
    </a></li>
    <li><a href="https://3fs.cloud" target="_blank">
      <Image src={logo_3fs} alt="3fs" width={logoW} height={logoH} loading="eager"/>
      3fs</a></li>
    <li><a href="https://www.racunalniski-muzej.si/" target="_blank">
      <Image src={logo_muzej} alt="Računalniški" width={logoW} height={logoH} loading="eager"/>
      Računalniški Muzej
    </a></li>
  </ul>
</div>

<style lang="scss">
  $row_h: 50px;

  .channels {
    padding-top: 20px;
    display: block;

    & ul, & ul li {
      list-style: none;
      margin: 0;
      padding: 0;
      vertical-align: middle;
    }

    pre {
      display: inline-block;
    }

    ul {
      float: none;
      clear: both;
      margin-bottom: 10px;
      height: $row_h;

      &:last-child {
        border: none
      }
    }

    li {
      float: left;
      line-height: $row_h;
      height: $row_h;
      vertical-align: middle;
      text-align: left;

      &.p-label {
        text-align: left;

        &.p-and-p {
          width: 90px;

          .p-and-p-inner {
            display: block;
            height: $row_h;
            line-height: calc($row_h / 2) - 0.4;
            font-size: 0.8em;
          }
        }
      }
    }

    li a {
      display: inline-block;
      margin-left: 20px;
      text-decoration: none;
      height: $row_h;
      line-height: $row_h;
      vertical-align: middle;
      justify-content: left;
      position: relative;
      text-indent: 40px;

      &.discord-x {
        border: 1px solid #333;
        background-color: #7082ca;
        color: white;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;

        img {
          left: 10px;
        }
      }

      img {
        position: absolute;
        left: 0;
        top: 10px;
        display: inline-block;
        height: 30px;
        width: 30px;
      }
    }

    @media only screen and (max-width: 1000px) {
      li a {
        width: 30px;
        overflow: hidden;
      }
    }
  }
</style>
