---
import {Image} from 'astro:assets';
import logo_YT from "../assets/icons/icons8-youtube-144.png"
import logo_AP from "../assets/icons/apple-podcasts.png"
import logo_Spotify from '../assets/icons/icons8-spotify-144.png'
import logo_GPI from '../assets/icons/google-podcasts.png'
import logo_LI from '../assets/icons/icons8-linkedin-144.png'
import logo_IG from '../assets/icons/icons8-instagram-144.png'
import logo_FB from '../assets/icons/icons8-facebook-144.png'
import logo_TW from '../assets/icons/icons8-twitter-144.png'
import logo_TT from '../assets/icons/icons8-tiktok-144.png'
import logo_PA from '../assets/icons/icons8-patreon-144.png'
import logo_DI from '../assets/icons/icons8-discord-144.png'
import logo_3fs from '../assets/icons/3fs.svg'
import logo_humanfrog from '../assets/icons/humanfrong_v2.jpg'

const logoW: number = 100;
const logoH: number = 100;
---
<div class="channels">
    <ul>
        <li>Kanali</li>
        <li><a href="https://youtube.com/@ogrodje" target="_blank">
            <Image src={logo_YT} alt="Ogrodje @ YouTube" width={logoW} height={logoH}/>
            YouTube</a></li>
        <li><a href="https://podcasts.apple.com/us/podcast/ogrodje/id1623611047" target="_blank">
            <Image src={logo_AP} alt="Ogrodje @ Apple Podcasts" width={logoW} height={logoH}/>
            Apple Podcasts</a></li>
        <li><a href="https://open.spotify.com/show/5fppuIAVBmockauYIXDIIn" target="_blank">
            <Image src={logo_Spotify} alt="Ogrodje @ Spotify" width={logoW} height={logoH}/>
            Spotify</a></li>
        <li><a href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy85NjRhN2QyNC9wb2RjYXN0L3Jzcw"
               target="_blank">
            <Image src={logo_GPI} alt="Ogrodje @ Google Podcasts Index" width={logoW} height={logoH}/>
            Google Podcasts</a></li>
    </ul>
    <ul>
        <li>Feed</li>
        <li><a href="https://www.linkedin.com/company/ogrodje/">
            <Image src={logo_LI} alt="Ogrodje @ LinkedIn" width={logoW} height={logoH}/>
            LinkedIn</a>
        </li>
        <li><a href="https://www.instagram.com/ogrodje/">
            <Image src={logo_IG} alt="Ogrodje @ Instagram" width={logoW} height={logoH}/>
            Instagram</a></li>
        <li><a href="https://www.facebook.com/ogrodje">
            <Image src={logo_FB} alt="Ogrodje @ Facebook" width={logoW} height={logoH}/>
            Facebook</a>
        </li>
        <li><a href="https://twitter.com/search?q=%23ogrodje">
            <Image src={logo_TW} alt="Twitter #Ogrodje" width={logoW} height={logoH}/>
            Twitter
            #ogrodje</a></li>
        <li><a href="https://www.tiktok.com/@ogrodje_podcast">
            <Image src={logo_TT} alt="Ogrodje @ TikTok" width={logoW} height={logoH}/>
            TikTok</a></li>
    </ul>
    <ul>
        <li>Skupnost</li>
        <li><a href="https://www.patreon.com/ogrodje">
            <Image src={logo_PA} alt="Ogrodje @ Patreon" width={logoW} height={logoH}/>
            Patreon</a>
        </li>
        <li><a href="https://discord.com/invite/TtpR2DSxNC">
            <Image src={logo_DI} alt="Ogrodje @ Discord" width={logoW} height={logoH}/>
            Discord</a></li>
    </ul>
    <ul>
        <li>Podporniki</li>
        <li><a href="https://3fs.cloud">
            <Image src={logo_3fs} alt="3fs" width={logoW} height={logoH}/>
            3fs</a></li>
        <li><a href="https://www.humanfrog.com">
            <Image src={logo_humanfrog} alt="Humanfrog" width={logoW} height={logoH}/>
            Humanfrog</a></li>
    </ul>
</div>

<style lang="scss">
  $row_h: 50px;

  .channels {
    padding-top: 20px;
    display: block;

    & ul, & ul li {
      list-style: none;
      margin: 0;
      padding: 0;
      vertical-align: middle;
    }

    pre {
      display: inline-block;
    }

    ul {
      float: none;
      clear: both;
      margin-bottom: 10px;
      height: $row_h;

      &:last-child {
        border: none
      }
    }

    li {
      float: left;
      line-height: $row_h;
      height: $row_h;
      vertical-align: middle;
      text-align: left;
    }

    li a {
      display: inline-block;
      margin-left: 20px;
      text-decoration: none;
      height: $row_h;
      line-height: $row_h;
      vertical-align: middle;
      justify-content: left;
      position: relative;
      text-indent: 40px;

      img {
        position: absolute;
        left: 0;
        top: 10px;
        display: inline-block;
        height: 30px;
        width: 30px;
      }
    }

    @media only screen and (max-width: 1000px) {
      li a {
        width: 30px;
        overflow: hidden;
      }
    }
  }
</style>
