---
import {type Episode, episodePath, optimiseEpisodeTitle} from "../model/Episode";
import EpizodeTools from "./EpizodeTools.astro";

interface Props {
  episode: Episode
  showTools?: boolean
}

const {episode, showTools} = Astro.props
---
<div class="episode">
  <a href={'/epizode/' + episodePath(episode)}>
    <div class="code">{episode.code}</div>
    {episode.show && (
      <div class="show" data-show={episode.show.name}>{episode.show.name}</div>)
    }
    <div class="name">{optimiseEpisodeTitle(episode)}</div>
  </a>

  {showTools && (
    <EpizodeTools episode={episode}/>)}
</div>
<style lang="scss">
  @use "../_variables";
  @use "../episode_row";
</style>
