---
import EpisodeRow from "./EpisodeRow.astro";
import {EpisodeService} from "../services/EpisodeService";
const episodes = await EpisodeService.publishedEpisodes(7);
const [firstEpisode, ...remainingEpisodes] = episodes;
---
<div class="episodes">
  <EpisodeRow episode={firstEpisode} showPreThumbnail={true}/>
  {remainingEpisodes.map((episode) =>
    <EpisodeRow episode={episode} showPreThumbnail={false}/>)}
</div>
