---
import Layout from "../../layouts/Layout.astro";
import Person from "../../components/Person.astro";
import {groupedPersonEpisodes, personPath} from "../../model/Person";
import {localiseRole} from "../../model/Role";
import EpisodeRow from "../../components/EpisodeRow.astro";
import {PeopleService} from "../../services/PeopleService";

export async function getStaticPaths() {
  const people = await PeopleService.allPeople()
  return people.map((person: any) => ({
    params: {person_id: personPath(person)},
    props: {person}
  }))
}

const {person} = Astro.props;
---
<Layout title={person.fullName}>
  <Person person={person} showSocial={true}></Person>

  <h2>Epizode</h2>

  <div class="episodes-by-role">
    {Array.from(groupedPersonEpisodes(person)).map(([role, episodes]) =>
      (
        <div class="role-wrap">
          <h3 class="role">{localiseRole(role)}</h3>
          <div class="episodes">{episodes.map(episode => (
            <EpisodeRow episode={episode}/>))}</div>
        </div>)
    )}
  </div>
</Layout>
